header.header
    section.header__logo-title-container
        .header__logo-title
            +figure-img("1MYXN5roVf_WyazK9F8LhUIIyDB7dEYPp", "Page logo").header__logo
            h1.header__title Figuras geométricas
    p.header__subtitle Este es el primer taller del curso práctico de JavaScript