meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
+favicon-navigator("1MYXN5roVf_WyazK9F8LhUIIyDB7dEYPp", "svg")
//- +theme-color-bar-navigator("#F7931A")

include ./_typography.pug